@charset "UTF-8";

body{
    font-family: "Roboto", sans-serif;
}

.navbar, 
.nav-cardapio .nav-link.active{
    background-color: rgb(68, 1, 1);
    
}

#cabecalho .navbar-brand{
    font-family:"Cinzel", serif;
    color: white;
}

#cabecalho .navbar-brand #coreano{
    font-family: "Noto Serif KR", serif;
}

#cabecalho .nav .nav-link, 
.nav-cardapio .nav-link .active, 
#cabecalho .nav .nav-link i{
    color: white;
}


#cabecalho .nav .nav-link.active,
#cabecalho .nav .nav-link.active i{
    background-color: white;
    color: black;
}

.navbar-toggler{
    background-color: white;
}

section#sobre, 
section#cardapio{
    background-color:rgba(245, 208, 208, 0.973) ;
}

.carousel .carousel-item img{
    height: 500px;
}

.container img{
    height: 400px;
}

.title{
    font-family: "Cinzel", serif;
    color: rgb(68, 1, 1);
}

.text-colored{
    color:rgb(68, 1, 1) ;
}

.nav-cardapio .nav-link{
    color: black;
}

.tab-content .tab-pane img{
    margin-top: 10px;
}
